In [1]:
import pandas as pd

In [2]:
file = "Resources/budget_data.csv"
df_budget = pd.read_csv(file)

In [18]:
# imported csv file into dataframe

      Date  Profit/Losses
0   Jan-10        1088983
1   Feb-10        -354534
2   Mar-10         276622
3   Apr-10        -728133
4   May-10         852993
..     ...            ...
81  Oct-16        -729004
82  Nov-16        -112209
83  Dec-16         516313
84  Jan-17         607208
85  Feb-17         382539

[86 rows x 2 columns]

In [14]:
TotalMonths = df_budget['Date'].count()

In [22]:
# selected the date column from the dataframe and counted the number of months

Total Months: 86

In [23]:
TotalPL = df_budget['Profit/Losses'].sum()

In [30]:
# selected the Profit/Losses column and calculated the total profit

Total: $22564198

In [32]:
df_budget['change']= 0

In [50]:
# created a new column and named it "change" to show the value of changes over the entire period

-354534

In [51]:
for i in range(1,TotalMonths):
    df_budget.iloc[i,2]=df_budget.iloc[i,1]-df_budget.iloc[i-1,1]

In [59]:
AvgChange = round(df_budget['change'][1:].mean(),2)

In [60]:
# calculated average change and rounded to 2 decimal places

Average Change: $-8311.11

In [72]:
GIncrease= df_budget['change'][1:].max()

In [107]:
GDate = df_budget.loc[df_budget['change']== GIncrease].iloc[0,0]

In [108]:
# Calculated the greatest increase and the corresponding date

Aug-16

Greatest Increase in Profits: Aug-16 ($1862002)

In [112]:
GDecrease = df_budget['change'][1:].min()

In [113]:
# Calculated the greatest decrease in profit

-1825558

In [119]:
LDate = df_budget.loc[df_budget['change']== GDecrease].iloc[0,0]

In [120]:
# calculated the corresponding date for the greatest decrease in profit

'Feb-14'

In [126]:
print ('Financial Analysis')
print()
print ('----------------------------')
print()
print('Total Months:',TotalMonths)
print()
print('Total: $' +str(TotalPL))
print()
print('Average Change: $'+ str(AvgChange))
print()
print('Greatest Increase in Profits: ' + str(GDate) + ' ($'+ str(GIncrease) + ')')
print()
print('Greatest Decrease in Profits: '+ str(LDate) + '($' + str(GDecrease)+')')

Financial Analysis

----------------------------

Total Months: 86

Total: $22564198

Average Change: $-8311.11

Greatest Increase in Profits: Aug-16 ($1862002)

Greatest Decrease in Profits: Feb-14($-1825558)